@import url('https://fonts.googleapis.com/css2?family=Newsreader:ital,opsz,wght@0,6..72,200;0,6..72,300;0,6..72,400;1,6..72,200;1,6..72,300;1,6..72,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital@0;1&display=swap');

@import '@radix-ui/colors/sand-dark.css';


@tailwind base;
@tailwind components;
@tailwind utilities;


html {
  scroll-behavior: smooth;
}

body {
  --page-width: 1072px;
  --content-width: 640px;

  --bg: var(--sand-2);
  --text-color: var(--sand-12);
  --sub-text-color: var(--sand-11);

  --page-top: 128px;

  --header-height: 48px;
  --footer-height: 48px;

  --layer-header: 10;
  --body-padding-left: max(24px, env(safe-area-inset-left));
  --body-padding-right: max(24px, env(safe-area-inset-right));

  --font-sans: 'Nunito', sans-serif;
  --font-size-default: 16px;
  --font-size-small: 12px;
}

* {
  box-sizing: border-box;
  scroll-margin: 8rem;
}

body {
  font-family: var(--font-sans);
  font-weight: 300;
  background: var(--bg);
}

#__next {
  padding-bottom: env(--safe-area-inset-bottom);
}

main {
  min-height: calc(100dvh - var(--footer-height));
  position: relative;
  padding-top: var(--page-top);
  padding-left: var(--body-padding-left);
  padding-right: var(--body-padding-right);
  margin: 0 auto;
  max-width: var(--page-width);
}

.main-grid {
  display: grid;
  grid-template-columns: 1fr var(--content-width) 1fr;
  grid-column-gap: 24px;
  -moz-column-gap: 24px;
  column-gap: 24px;
  align-items: flex-start
}

.main-grid>* {
  grid-column: 2
}

@media (max-width: 1024px) {
  .main-grid {
      -moz-column-gap: 16px;
      column-gap: 16px
  }
}

@media (max-width: 768px) {
  .main-grid {
      display:flex;
      flex-direction: column;
      align-items: unset;
      justify-content: flex-start
  }
}

.left-col {
  grid-column: 1
}

footer {
  border-top: 1px solid var(--sand-6);
  height: var(--footer-height);
  padding: 0 var(--body-padding-left);
  background: var(--bg);
  color: var(--sand-12)
}

footer > div {
  max-width: var(--content-width);
  margin: 0 auto
}

@media (max-width: 768px) {
  footer > div {
    margin: 0;
  }
}

article {
  width: 100%;
  max-width: var(--content-width);
  color: var(--text-color);
}

a {
  text-decoration-color: var(--gray8);
  transition: 280ms;
}

a:hover {
  text-decoration-color: var(--gray11);
  transition: 100ms;
}

i {
  font-family: "Newsreader","Signifier","Times",serif;
}

.color-text {
  --original-color: var(--text-color);
  color: var(--original-color);
}

.color-sub {
  --original-color: var(--sub-text-color);
  color: var(--original-color);
}

.link {
  transition: none;
  border-bottom: 1px solid var(--sand-6);
}

.link:hover {
  background-color: var(--text-color);
  color: var(--bg)
}

.link:hover::before {
  background: var(--sand-8);
  transition: 100ms;
}

@media screen and (max-width: 768px){
  body {
    --page-top: 64px;
  }
}

[data-blur-in-animation] {
  --blur-in-animation-name: blur-in;
  --blur-in-animation-duration: 600ms;
  --blur-in-animation-timing-function: ease-out;
  --blur-in-animation-fill-mode: both;
  --blur-in-animation-delay: calc(var(--delay) * var(--index));
  --delay: 130ms;
  animation: var(--blur-in-animation-name) var(--blur-in-animation-duration) var(--blur-in-animation-fill-mode) var(--blur-in-animation-timing-function);
  animation-delay: var(--blur-in-animation-delay);
}

@keyframes blur-in {
  0% {
    filter: blur(10px);
    opacity: 0;
  }
  100% {
    filter: blur(0);
    opacity: 1;
  }
}

.color-text:has(:target),
.color-text:has(:target) .color-sub {
  --color-text-animation-name: color-text;
  --color-text-animation-duration: 1s;
  --color-text-animation-timing-function: ease;
  --color-text-animation-fill-mode: both;
  --color-text-animation-delay: 4s;

  color: var(--sand-7);
  animation-name: var(--color-text-animation-name);
  animation-duration: var(--color-text-animation-duration);
  animation-timing-function: var(--color-text-animation-timing-function);
  animation-delay: var(--color-text-animation-delay);
  animation-fill-mode: var(--color-text-animation-fill-mode);
}

:target {
  color: var(--text-color);
}

@keyframes color-text {
  0% {
    color: var(--sand-7);
  }

  100% {
    color: var(--original-color);
  }
}
