@import url('https://fonts.googleapis.com/css2?family=Newsreader:ital,opsz,wght@0,6..72,200;0,6..72,300;0,6..72,400;1,6..72,200;1,6..72,300;1,6..72,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital@0;1&display=swap');

@import '@radix-ui/colors/sand-dark.css';

@import 'tailwindcss';
@import 'tw-animate-css';

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

/*
  The default border color has changed to `currentcolor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }
}

html {
  scroll-behavior: smooth;
}

body {
  --page-width: 1072px;
  --content-width: 640px;

  --bg: var(--sand-2);
  --text-color: var(--sand-12);
  --sub-text-color: var(--sand-11);

  --page-top: 128px;

  --header-height: 48px;
  --footer-height: 48px;

  --layer-header: 10;
  --body-padding-left: max(24px, env(safe-area-inset-left));
  --body-padding-right: max(24px, env(safe-area-inset-right));

  --font-sans: 'Nunito', sans-serif;
  --font-size-default: 16px;
  --font-size-small: 12px;

  --gym-person1: #3b82f6;
  --gym-person2: #10b981;
}

* {
  box-sizing: border-box;
  scroll-margin: 8rem;
}

body {
  font-family: var(--font-sans);
  font-weight: 300;
  background: var(--bg);
}

#__next {
  padding-bottom: env(--safe-area-inset-bottom);
}

main {
  min-height: calc(100dvh - var(--footer-height));
  position: relative;
  padding-top: var(--page-top);
  padding-left: var(--body-padding-left);
  padding-right: var(--body-padding-right);
  margin: 0 auto;
  max-width: var(--page-width);
}

.main-grid {
  display: grid;
  grid-template-columns: 1fr var(--content-width) 1fr;
  grid-column-gap: 24px;
  -moz-column-gap: 24px;
  column-gap: 24px;
  align-items: flex-start
}

.main-grid>* {
  grid-column: 2
}

@media (max-width: 1024px) {
  .main-grid {
      -moz-column-gap: 16px;
      column-gap: 16px
  }
}

@media (max-width: 768px) {
  .main-grid {
      display:flex;
      flex-direction: column;
      align-items: unset;
      justify-content: flex-start
  }
}

.left-col {
  grid-column: 1
}

footer {
  border-top: 1px solid var(--sand-6);
  height: var(--footer-height);
  padding: 0 var(--body-padding-left);
  background: var(--bg);
  color: var(--sand-12)
}

footer > div {
  max-width: var(--content-width);
  margin: 0 auto
}

@media (max-width: 768px) {
  footer > div {
    margin: 0;
  }
}

article {
  width: 100%;
  max-width: var(--content-width);
  color: var(--text-color);
}

a {
  text-decoration-color: var(--gray8);
  transition: 280ms;
}

a:hover {
  text-decoration-color: var(--gray11);
  transition: 100ms;
}

i {
  font-family: "Newsreader","Signifier","Times",serif;
}

.color-text {
  --original-color: var(--text-color);
  color: var(--original-color);
}

.color-sub {
  --original-color: var(--sub-text-color);
  color: var(--original-color);
}

.link {
  transition: none;
  border-bottom: 1px solid var(--sand-6);
}

.link:hover {
  background-color: var(--text-color);
  color: var(--bg)
}

.link:hover::before {
  background: var(--sand-8);
  transition: 100ms;
}

@media screen and (max-width: 768px){
  body {
    --page-top: 64px;
  }
}

[data-blur-in-animation] {
  --blur-in-animation-name: blur-in;
  --blur-in-animation-duration: 600ms;
  --blur-in-animation-timing-function: ease-out;
  --blur-in-animation-fill-mode: both;
  --blur-in-animation-delay: calc(var(--delay) * var(--index));
  --delay: 130ms;
  animation: var(--blur-in-animation-name) var(--blur-in-animation-duration) var(--blur-in-animation-fill-mode) var(--blur-in-animation-timing-function);
  animation-delay: var(--blur-in-animation-delay);
}

@keyframes blur-in {
  0% {
    filter: blur(10px);
    opacity: 0;
  }
  100% {
    filter: blur(0);
    opacity: 1;
  }
}

.color-text:has(:target),
.color-text:has(:target) .color-sub {
  --color-text-animation-name: color-text;
  --color-text-animation-duration: 1s;
  --color-text-animation-timing-function: ease;
  --color-text-animation-fill-mode: both;
  --color-text-animation-delay: 4s;

  color: var(--sand-7);
  animation-name: var(--color-text-animation-name);
  animation-duration: var(--color-text-animation-duration);
  animation-timing-function: var(--color-text-animation-timing-function);
  animation-delay: var(--color-text-animation-delay);
  animation-fill-mode: var(--color-text-animation-fill-mode);
}

:target {
  color: var(--text-color);
}

@keyframes color-text {
  0% {
    color: var(--sand-7);
  }

  100% {
    color: var(--original-color);
  }
}

/* Shadcn UI */


:root {
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --destructive-foreground: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --radius: 0.625rem;
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}
 
.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.145 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.145 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.985 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.396 0.141 25.723);
  --destructive-foreground: oklch(0.637 0.237 25.331);
  --border: oklch(0.269 0 0);
  --input: oklch(0.269 0 0);
  --ring: oklch(0.439 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(0.269 0 0);
  --sidebar-ring: oklch(0.439 0 0);
}